Full Stack SignUp & SignIn n8n Workflow & Email Confirmation.json
{
  "name": "My workflow 8",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "signup",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        -128
      ],
      "id": "8e7e2549-e6bc-4b4e-b992-76a2eec92020",
      "name": "Request For Confirmation",
      "webhookId": "5dfb3dc5-0c61-4106-ae39-0365d29f15b9"
    },
    {
      "parameters": {
        "jsCode": "// Generate a 6-digit random code\nconst code = Math.floor(100000 + Math.random() * 900000);\n\nreturn [\n  {\n    username: $node[\"Request For Confirmation\"].json.body.username,\n    email: $node[\"Request For Confirmation\"].json.body.email,\n    password: $node[\"Request For Confirmation\"].json.body.password,\n    emailCode: code,\n    id: $execution.id\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -32
      ],
      "id": "4e90674c-af47-47a2-be95-16878c82c626",
      "name": "Creating Code Using Random"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Activate Your Omni's Account ",
        "message": "=<!DOCTYPE html> <html lang=\"en\"> <head>     <meta charset=\"UTF-8\">     <title>Omni's Email Confirmation</title> </head> <body style=\"margin:0; padding:0; background-color:#f4f4f4; font-family: Arial, sans-serif;\">     <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f4f4; padding:20px 0;\">         <tr>             <td align=\"center\">                 <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff; border-radius:10px; box-shadow:0 4px 10px rgba(0,0,0,0.1); padding:40px;\">                     <!-- Header -->                     <tr>                         <td align=\"center\" style=\"padding-bottom:20px;\">                             <h1 style=\"font-size:24px; color:#333333; margin:0;\">Welcome to Omni's Technology!</h1>                         </td>                     </tr>                      <!-- Message -->                     <tr>                         <td style=\"padding-bottom:30px; color:#555555; font-size:16px; line-height:1.5;\">                             Hello <strong>{{$json.username}}</strong>,<br><br>                             Thank you for signing up. To complete your registration, please use the confirmation code below:                         </td>                     </tr>                      <!-- Code -->                     <tr>                         <td align=\"center\" style=\"padding-bottom:30px;\">                             <span style=\"display:inline-block; font-size:24px; font-weight:bold; color:#ffffff; background-color:#6EC1E4; padding:15px 25px; border-radius:8px; letter-spacing:3px;\">                                 {{$json.emailCode}}                             </span>                         </td>                     </tr>                      <!-- Instructions -->                     <tr>                         <td style=\"padding-bottom:30px; color:#555555; font-size:14px; line-height:1.5;\">                             Enter this code in the app to verify your email and activate your account. <br><br>                             If you did not sign up, please ignore this email.                         </td>                     </tr>                      <!-- Footer -->                     <tr>                         <td style=\"border-top:1px solid #e0e0e0; padding-top:20px; text-align:center; color:#999999; font-size:12px;\">                             &copy; 2026 Omni's Technology. All rights reserved.                         </td>                     </tr>                 </table>             </td>         </tr>     </table> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1168,
        64
      ],
      "id": "6d081f85-5200-4df6-8fc6-0b63b2983757",
      "name": "Sending Confirmation Code",
      "webhookId": "27d37a0c-1746-4443-a15d-b306aa495802",
      "credentials": {
        "gmailOAuth2": {
          "id": "LjNQ2msiToJazzgz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appUoPvaRAosqw5hv",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appUoPvaRAosqw5hv"
        },
        "table": {
          "__rl": true,
          "value": "tblpW2miauWqoFYee",
          "mode": "list",
          "cachedResultName": "dataset",
          "cachedResultUrl": "https://airtable.com/appUoPvaRAosqw5hv/tblpW2miauWqoFYee"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Username": "={{ $json.username }}",
            "password": "={{ $json.password}}",
            "confirmation-code": "={{ $json.emailCode }}",
            "userid": "={{$json.id}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userid",
              "displayName": "userid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "confirmation-code",
              "displayName": "confirmation-code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "verified",
              "displayName": "verified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1168,
        -128
      ],
      "id": "02e1e9a1-2905-40d4-861c-0023023c4fde",
      "name": "Storing Data",
      "credentials": {
        "airtableTokenApi": {
          "id": "tj6TSjs9GMqVfB9Y",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    id:$json.fields.userid\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -128
      ],
      "id": "f2be2f02-f36b-4b31-bd75-7ec2ea9778a5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"id\": \"{{$json.id}}\",\n  \"success\":\"Sign Up Sucessful\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1616,
        -128
      ],
      "id": "63b6343c-cade-4429-ba0f-11d8f01576fa",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "=confirm-code/:id/:code",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        -544
      ],
      "id": "15189c9e-ff33-4195-82ee-c97a58da0bd2",
      "name": "Webhook",
      "webhookId": "e6bf03cc-c9e6-4727-91c5-375b420ac2ce"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appUoPvaRAosqw5hv",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appUoPvaRAosqw5hv"
        },
        "table": {
          "__rl": true,
          "value": "tblpW2miauWqoFYee",
          "mode": "list",
          "cachedResultName": "dataset",
          "cachedResultUrl": "https://airtable.com/appUoPvaRAosqw5hv/tblpW2miauWqoFYee"
        },
        "filterByFormula": "=AND(\n  {userid} = \"{{ $json.params.id }}\",\n  {confirmation-code} = {{ $json.params.code }}\n)\n",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        272,
        -544
      ],
      "id": "6bc72bc1-9183-404f-b309-95683c0ed473",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "tj6TSjs9GMqVfB9Y",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "0d196e00-670a-4355-9bd7-1ce047bd82d8",
              "leftValue": "={{ ($items(\"Search records\").length > 0).toBoolean() }}\n",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        -640
      ],
      "id": "1c6e1b27-58ee-44cb-904c-b12efe422b8e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appUoPvaRAosqw5hv",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appUoPvaRAosqw5hv"
        },
        "table": {
          "__rl": true,
          "value": "tblpW2miauWqoFYee",
          "mode": "list",
          "cachedResultName": "dataset",
          "cachedResultUrl": "https://airtable.com/appUoPvaRAosqw5hv/tblpW2miauWqoFYee"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "verified": "=true",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "userid",
              "displayName": "userid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "confirmation-code",
              "displayName": "confirmation-code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "verified",
              "displayName": "verified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        720,
        -640
      ],
      "id": "557f69e2-76e3-4bc3-b667-236d2979e015",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "tj6TSjs9GMqVfB9Y",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Email confirmed successfully\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        496,
        -448
      ],
      "id": "f450c564-18f7-429b-a486-91d05beb0c7e",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        -864
      ],
      "id": "e6af751b-26a2-425c-9c95-e551be153dba",
      "name": "Webhook1",
      "webhookId": "25d0c05a-befa-4a07-9e59-e284771359fb"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body\nreturn[\n  {\n    username:body.username,\n    password:body.password\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -864
      ],
      "id": "3236aea1-6d1e-4808-a967-7159daf02d96",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appUoPvaRAosqw5hv",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appUoPvaRAosqw5hv"
        },
        "table": {
          "__rl": true,
          "value": "tblpW2miauWqoFYee",
          "mode": "list",
          "cachedResultName": "dataset",
          "cachedResultUrl": "https://airtable.com/appUoPvaRAosqw5hv/tblpW2miauWqoFYee"
        },
        "filterByFormula": "=AND(   \n \n{Username} = \"{{$json.username}}\",\n{password} =\"{{$json.password}}\"\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        496,
        -864
      ],
      "id": "fc63c105-56b3-47a6-855b-c151b8e41877",
      "name": "Search records1",
      "credentials": {
        "airtableTokenApi": {
          "id": "tj6TSjs9GMqVfB9Y",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dd7c6c41-1f40-4151-b537-f054b650e532",
              "leftValue": "={{ $json.verified }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        -864
      ],
      "id": "342bae92-391c-4365-8781-800e652fd667",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\":\"Login Sucessful\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        944,
        -864
      ],
      "id": "f99bc079-455b-4d4e-a979-bb7e99889711",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appUoPvaRAosqw5hv",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appUoPvaRAosqw5hv"
        },
        "table": {
          "__rl": true,
          "value": "tblpW2miauWqoFYee",
          "mode": "list",
          "cachedResultName": "dataset",
          "cachedResultUrl": "https://airtable.com/appUoPvaRAosqw5hv/tblpW2miauWqoFYee"
        },
        "filterByFormula": "={Username} = \"{{$json.body.username}}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        272,
        -128
      ],
      "id": "cb3fd183-058f-417f-afd5-e03fd4516823",
      "name": "Search records2",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "tj6TSjs9GMqVfB9Y",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "108d7ff0-1d39-4d8e-8d3f-f2828b16c75a",
              "leftValue": "={{ $json.exists === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        -128
      ],
      "id": "f47b814f-c6fb-49fd-a33c-2bae3f7ac789",
      "name": "If2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Account already exists. Try signing in.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        944,
        -224
      ],
      "id": "6a8090a1-3566-4cee-99a3-9bfa96779f15",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Initialize output\nlet hasData = false;\n\n// Loop through items\nfor (const item of items) {\n    const json = item.json;\n\n    // Check if the JSON object has any keys with a non-empty value\n    const keys = Object.keys(json);\n    for (const key of keys) {\n        if (json[key] !== null && json[key] !== \"\" && json[key] !== undefined) {\n            hasData = true;\n            break;\n        }\n    }\n\n    if (hasData) break; // stop looping once we find meaningful data\n}\n\n// Return a single item with true/false\nreturn [\n    {\n        json: {\n            exists: hasData\n        }\n    }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -128
      ],
      "id": "52b87e75-04a3-4373-86be-3ce24ceccf68",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "Request For Confirmation": {
      "main": [
        [
          {
            "node": "Search records2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creating Code Using Random": {
      "main": [
        [
          {
            "node": "Sending Confirmation Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Storing Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storing Data": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        []
      ]
    },
    "Update record": {
      "main": [
        []
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Creating Code Using Random",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "44bc087b-4538-4651-a819-3f0d2f78fa79",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0467b11a3ee759bae17024a54bef4fc2ca4764b35ef254927586d97ba4f98d6c"
  },
  "id": "z7nZFQjFm85iarij",
  "tags": []
}
