My workflow 4 (1).json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {},
      "id": "827d1cb6-da6b-4997-b30c-fffcc6d8c29c",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        -64
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "1def2446-2c00-4e12-8d81-6356508d527f",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        192,
        -64
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields.Email }}",
        "subject": "Personalized Outreach",
        "message": "=Hi {{ $json.fields.Name }},\n\nI hope you're doing well. I'm reaching out from Omnis Technologies regarding our AI automation services.\n\nBest regards,\nMr Spark",
        "options": {}
      },
      "id": "1dffb090-4ed1-4d16-9714-ad4defee9d02",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        416,
        -64
      ],
      "webhookId": "94e83d14-4fdf-4222-8fc9-12628fb9ada3",
      "credentials": {
        "gmailOAuth2": {
          "id": "Li669BxNVoohFtA7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "59636d84-bc00-4d2f-a46a-98f28a9faa00",
      "name": "Wait (Anti-Spam)1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        624,
        -64
      ],
      "webhookId": "7c499c8e-9097-403e-9959-31a34ded4ae1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appUoPvaRAosqw5hv",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appUoPvaRAosqw5hv"
        },
        "table": {
          "__rl": true,
          "value": "tblzWDXffzUS1vFpC",
          "mode": "list",
          "cachedResultName": "Emails",
          "cachedResultUrl": "https://airtable.com/appUoPvaRAosqw5hv/tblzWDXffzUS1vFpC"
        },
        "filterByFormula": "NOT({Status} = 'Sent')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -80,
        32
      ],
      "id": "fa4710f3-ea05-4fe6-a940-c4cbbd7b4b6f",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "lADTH4qiIKWJJp7e",
          "name": "Airtable Personal Access Token account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "Wait (Anti-Spam)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Anti-Spam)1": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a00fa5b1-c955-4641-a08a-314c6776bd98",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f2b06b3a5211137141ca0ea7e0b32863142b16e365be6cbeb7936e6765913a8"
  },
  "id": "tu8iQqm0r7zqON4u",
  "tags": []
}